@font-face {
  font-family: 'HeliosCond';
  src: url("../Fonts/HeliosCondBold.eot");
  src: url("../Fonts/HeliosCondBold.eot?#iefix") format("embedded-opentype"), url("../Fonts/HeliosCondBold.woff2") format("woff2"), url("../Fonts/HeliosCondBold.woff") format("woff"), url("../Fonts/HeliosCondBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'HeliosCond';
  src: url("../Fonts/HeliosCondLight.eot");
  src: url("../Fonts/HeliosCondLight.eot?#iefix") format("embedded-opentype"), url("../Fonts/HeliosCondLight.woff2") format("woff2"), url("../Fonts/HeliosCondLight.woff") format("woff"), url("../Fonts/HeliosCondLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'HeliosCond';
  src: url("../Fonts/HeliosCond.eot");
  src: url("../Fonts/HeliosCond.eot?#iefix") format("embedded-opentype"), url("../Fonts/HeliosCond.woff2") format("woff2"), url("../Fonts/HeliosCond.woff") format("woff"), url("../Fonts/HeliosCond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HeliosCond';
  src: url("../Fonts/HeliosCondBlack.eot");
  src: url("../Fonts/HeliosCondBlack.eot?#iefix") format("embedded-opentype"), url("../Fonts/HeliosCondBlack.woff2") format("woff2"), url("../Fonts/HeliosCondBlack.woff") format("woff"), url("../Fonts/HeliosCondBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

* {
  line-height: 100%;
  transition: all 0.1s ease-in;
  outline: none !important; }

body {
  color: #000;
  font: 15px/18px 'HeliosCond';
  position: relative;
  height: 100%;
  overflow-x: hidden;
  font-weight: normal;
  background: #e2e0e1;
  margin: 0; }

b {
  font-family: 'HeliosCond';
  font-weight: bold; }

img {
  max-width: 100%; }

svg {
  width: 100%;
  height: 100%; }

.slick-list, .slick-track {
  transition: none; }

p {
  font-size: 16px;
  color: #040236;
  line-height: 1.625;
  text-align: left; }

.hidden-lg {
  display: none !important; }

.hidden-mg {
  display: inline-block !important; }

.circle-red {
  width: 0.3125vw;
  height: 0.3125vw;
  border-radius: 50%;
  background: #d44e64;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.1041666667vw; }

.underline {
  border-bottom: 1px solid #d44e64; }

section .container {
  width: 100%;
  padding-left: 20.9375vw; }

section .advantages {
  width: 17.1875vw;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: bottom; }
  section .advantages li {
    font-size: 1.09375vw;
    color: #ee1357;
    list-style: none;
    position: relative;
    padding: 0.625vw 0 0.3125vw 1.8229166667vw;
    letter-spacing: -0.0104166667vw; }
    section .advantages li:before {
      content: "";
      width: 1.3020833333vw;
      height: 1.6666666667vw;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      margin-right: 0.5208333333vw;
      background: url(../images/ico-check.svg) no-repeat;
      background-size: 100% 100%; }

section .advantages2 {
  padding: 0;
  margin: 0.3125vw 0 0.2604166667vw;
  display: inline-block; }
  section .advantages2:last-child {
    margin-left: 1.0416666667vw; }
  section .advantages2 li {
    font-size: 1.0416666667vw;
    color: #48443e;
    list-style: none;
    position: relative;
    padding: 0vw 0 0.15625vw 0.7291666667vw;
    letter-spacing: 0.015625vw; }
    section .advantages2 li:before {
      content: "";
      width: 0.4166666667vw;
      height: 0.4166666667vw;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0.4166666667vw;
      background: #ee1357;
      border-radius: 50%; }

section .box-text {
  display: inline-block;
  vertical-align: top;
  width: 34.1145833333vw;
  padding-left: 3.3333333333vw; }
  section .box-text p {
    font-size: 1.0416666667vw;
    color: #48443e;
    margin: 0.4166666667vw 0 0.5208333333vw;
    line-height: 1;
    letter-spacing: 0.0677083333vw; }
    section .box-text p.p2 {
      letter-spacing: 0px;
      font-size: 1.09375vw; }

section .btn-right {
  border: 0.2083333333vw solid #4f9d98;
  height: 6.7708333333vw;
  font-size: 1.9791666667vw;
  color: #4f9d98;
  width: 18.125vw;
  font-weight: 900;
  position: absolute;
  right: -0.4166666667vw;
  bottom: 0.8854166667vw;
  border-top-left-radius: 1.5625vw;
  border-bottom-left-radius: 1.5625vw;
  padding: 1.09375vw 1.5625vw 1.0416666667vw;
  box-sizing: border-box; }

section#content {
  height: 51.4583333333vw;
  background: url(../images/bg2.jpg) no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-bottom: 2.8645833333vw;
  box-sizing: border-box; }
  section#content .container {
    position: absolute;
    bottom: 2.8645833333vw;
    left: 0;
    box-sizing: border-box; }
    section#content .container .text-red {
      color: #ee1357;
      margin: 0;
      letter-spacing: 0.0208333333vw;
      font-size: 1.0416666667vw; }
      section#content .container .text-red .underline {
        padding-bottom: 0.15625vw; }

footer p {
  text-align: center;
  font-size: 1.0416666667vw;
  color: #55565a;
  line-height: 1;
  margin: 1.0416666667vw 0;
  font-weight: 300;
  letter-spacing: 0.015625vw; }

/* mobile style*/
