@font-face {
    font-family: 'HeliosCond';
    src: url('../Fonts/HeliosCondBold.eot');
    src: url('../Fonts/HeliosCondBold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/HeliosCondBold.woff2') format('woff2'),
        url('../Fonts/HeliosCondBold.woff') format('woff'),
        url('../Fonts/HeliosCondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url('../Fonts/HeliosCondLight.eot');
    src: url('../Fonts/HeliosCondLight.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/HeliosCondLight.woff2') format('woff2'),
        url('../Fonts/HeliosCondLight.woff') format('woff'),
        url('../Fonts/HeliosCondLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url('../Fonts/HeliosCond.eot');
    src: url('../Fonts/HeliosCond.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/HeliosCond.woff2') format('woff2'),
        url('../Fonts/HeliosCond.woff') format('woff'),
        url('../Fonts/HeliosCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HeliosCond';
    src: url('../Fonts/HeliosCondBlack.eot');
    src: url('../Fonts/HeliosCondBlack.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/HeliosCondBlack.woff2') format('woff2'),
        url('../Fonts/HeliosCondBlack.woff') format('woff'),
        url('../Fonts/HeliosCondBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
